<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.boop.rally" android:versionCode="1" android:versionName="1.0">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="36"/>
    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.gamepad" android:required="false"/>
    <application android:label="BOOP Rally" android:icon="@drawable/rally_icon" android:banner="@drawable/rally_banner" android:theme="@style/RallyTheme" android:allowBackup="false" android:debuggable="false" android:extractNativeLibs="true" android:hardwareAccelerated="true" android:enableOnBackInvokedCallback="false" android:isGame="true">
        <activity android:name=".MainActivity" android:exported="true" android:screenOrientation="landscape" android:launchMode="singleTop" android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".GameActivity" android:exported="false" android:screenOrientation="landscape" android:process=":game" android:configChanges="orientation|screenSize|keyboardHidden"/>
    </application>
</manifest>
