<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:name="com.boop.alpha1.UnifiedApplication" android:allowBackup="false"
        android:label="BOOP Wall" android:icon="@drawable/boop_eyes">
        <activity android:name="com.boop.alpha1.UnifiedEntryActivity" android:exported="true"
            android:launchMode="singleTask" android:theme="@style/Theme.BOOP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
